<div class="container-fluid">


<div class = "row" style="margin-top: 6rem;">
   
    <div class="col">
        <h4 class="header-text-tag">
            Great Mechanica Platform
        </h4> 
    </div>
</div>
<div>
  
</div>
<div class="row">
    <div class="col" style="align-items: center;" >
     
        <p class="header-description" >
           
    </p>
     

</div>
</div>
<div class="row">
    <div class="col header-description">
       <p> Go with the world's best companies trust us <br> for building and servicing your ATV's shockers</p>
    </div>
 
</div>
</div>