.navbar-nav {
    margin-right: 10rem;
}

.nav-link {
    display: block;
    padding: .8rem 1rem;
    margin-left: 2rem;
    text-align: center;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(138, 231, 16);
    font-family: 'Roboto', sans-serif;
    font-size: medium;
}

@media only screen and (max-width: 600px) {
    .nav-link {
        margin-left: 4rem;
        width: 15rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}