<div class="row">
    <div class="col">
        <nav class="navbar navbar-light bg-light navbar-expand-lg">
            <a class="navbar-brand">
                <img src="../../assets/logo.jpg" width="130px" height="100px" style="margin-left: 40px;" alt="">
            </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#mynavbar">
                <span class = "navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-items"><a class="nav-link" href="">Our work</a></li>
                    <li class="nav-items"><a class="nav-link" href="">Services</a></li>
                    <!-- <li class="nav-items dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        Login
                    </a>
                        <div class="dropdown-menu">
                            <a href="" class="dropdown-item">Link1</a>
                            <a href="" class="dropdown-item">Link2</a>
                            <a href="" class="dropdown-item">Link3</a>
                        </div>
                    </li> -->
                    <li class="nav-items"><a class="nav-link" href="">Our Team</a></li>
                    <li class="nav-items"><a class="nav-link" href="">Careers</a></li>
                    <li class="nav-items"><a class="nav-link" href="">Contact us</a></li>
                </ul>

            </div>
        </nav>
    </div>
</div>