<div class="row">
    <div class="col-md-2">
        <img src="../../assets/logo.jpg" alt="logo" srcset="">
    </div>
    <div class="col-md-5">
    <div class="row">
        <div class="col-6">
            <ul class = "link-list">
                <li>Work</li>
                <li>Services</li>
                <li>Our Team</li>
                <li>Meet the Captain</li>
                <li>Lab</li>
                <li>Why TSM?</li>
                <li>Contact us</li>
            </ul>
        </div>
        <div class="col-6">
            <ul class = "link-list">
                <li>Web development</li>
                <li>App development</li>
                <li>Web design</li>
                <li>Growth hacking</li>
                <li>Chatbot services</li>
                <li>Devops Consulting</li>
            </ul>
        </div>
    </div>  
    </div>
    <div class="col-md-5">
        <div class="row">
            <div class="col-6">
                <ul class = "link-list">
                    <li>Blog</li>
                    <li>Career</li>
                    <li>Privacy</li>
                    <li>Terms & Conditions</li>
                </ul>
            </div>
            <div class="col-6">
                <div class="link-title">Contact us</div>
           <ul class = "link-list">
               <li>+91-798 201 9022</li>
               <li>ajayfageria1@gmail.com</li>
           </ul>
           <div class="link-title">Follow us</div>
           <ul class = "link-list">
               <li>Youtube</li>
               <li>Linkedin</li>
               <li>Facebook</li>
               <li>Instagram</li>      
           </ul>
            </div>
        </div>  
        </div>

  
   </div>  

 