<div class="container">
    <h1 class="client-heading">
        Our range of services</h1>
    <p class="client-heading-desc">We pride ourselves on building successful, servicing of shockers for world's top companies.</p>
    <div class="row" style="margin-top: 4rem;">
        <div class="col-md">
            <img src="../../../assets/gif.gif" style="width: 100px;height: 100px;" alt="">
            <h5 style="margin-top: 2rem;">Shox Rebuilding</h5>
            <div>
                <p class="header-description">
                    Includes internal cleaning, changing of oil, nitrogen and seals if in damage condition and tuning options like changing of rebound and compression rate on your demands. 
               
                </p>
            </div>
        </div>
        <div class="col-md">
            <img src="../../../assets/gif.gif" style="width: 100px;height: 100px;" alt="">
            <h5 style="margin-top: 2rem;">Spare Parts </h5>
            <div>
                <p class="header-description">
                    Shim stacks,Piston oil seals of all varients of Fox dampers, pneumatic Dampers and all other shocker services are available at effective rate in market.</p>
            </div>
        </div>


        <div class="col-md">
            <img src="../../../assets/gif.gif" style="width: 100px;height: 100px;" alt="">
            <h5 style="margin-top: 2rem;">Design and Technical Guidance</h5>
            <div>
                <p class="header-description">
                    A helping hand to all motosport teams in country to make versatile and agile equipments that is designed to empower high standards and performance of vehicles in Baja and SAE. 
                </p>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 4rem;">
        <div class="col-md">
            <img src="../../../assets/gif.gif" style="width: 100px;height: 100px;" alt="">
            <h5 style="margin-top: 2rem;">Pneumatic Dampers </h5>
            <div>
                <p class="header-description">
                    Provide all range of Fox and afco dampers at Reasonable prices.
                </p>
            </div>
        </div>
        <div class="col-md">
            <img src="../../../assets/gif.gif" style="width: 100px;height: 100px;" alt="">
            <h5 style="margin-top: 2rem;">VEHICLE DYNAMICS CONSULTANCY</h5>
            <div>
                <p class="header-description">
                    Guidance and technical support for all suspension and vehicle dynamics related problems.
                </p>
            </div>
        </div>


        <div class="col-md">
            <img src="../../../assets/gif.gif" style="width: 100px;height: 100px;" alt="">
            <h5 style="margin-top: 2rem;">VIRTUAL SUSPENSION DESIGN</h5>
            <div>
                <p class="header-description">
                    Get your suspension geometries designed and simulated via different tools for BAJA, FSAE and similar competitions.
                </p>
            </div>
        </div>
    </div>
</div>