<div class="container">
    <div class="col-sm">
        <div class="row-sm-2 login_header">
            <i class="fa fa-shopping-bag"> &nbsp; </i>Buy Shockers
        </div>
        <div class="row-sm-1 login_sub_heading">
            Grow TSM!
        </div>
        <div class="row-sm-9">
            <form [formGroup]="purchaseForm" (ngSubmit)="onSubmit(purchaseForm)">
                <div class="form-group mt-4">
                    <input id="part_type" formControlName="part_type" class="form-control form-field" type="text" [ngClass]="{ 'is-invalid': submitted && f.part_type?.errors }" placeholder="part_type">
                    <div *ngIf="submitted && f.part_type.errors" class="invalid-feedback">
                        <div *ngIf="f.part_type.errors.required">Part Name is required</div>
                    </div>

                </div>

                <div class="form-group mt-4">
                    <input id="purchase_form" hidden formControlName="purchase_form" class="form-control form-field" type="text" [ngClass]="{ 'is-invalid': submitted && f.purchase_form?.errors }" placeholder="purchase_form">
                    <div *ngIf="submitted && f.purchase_form.errors" class="invalid-feedback">
                        <div *ngIf="f.purchase_form.errors.required">Part Name is required</div>
                    </div>

                </div>



                <div class="form-group mt-4">
                    <input id="number_of_peices" formControlName="number_of_peices" class="form-control form-field" type="number" [ngClass]="{ 'is-invalid': submitted && f.lasName?.errors }" placeholder="number_of_peices">
                    <div *ngIf="submitted && f.number_of_peices.errors" class="invalid-feedback">
                        <div *ngIf="f.number_of_peices.errors.required">Last name is required</div>
                    </div>
                </div>
                <div class="form-group mt-4">
                    <input id="team_name" formControlName="team_name" class="form-control form-field" type="text" [ngClass]="{ 'is-invalid': submitted && f.team_name?.errors }" placeholder="Team Name">
                    <div *ngIf="submitted && f.team_name.errors" class="invalid-feedback">
                        <div *ngIf="f.team_name.errors.required">team_name is required</div>
                    </div>

                </div>
                <div class="form-group mt-4">
                    <input type="email" id="email" formControlName="email" class="form-control form-field" [ngClass]="{ 'is-invalid': submitted && f.email?.errors }" placeholder="Email" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">email is required</div>
                        <div *ngIf="f.email.errors.pattern">email is invalid</div>
                    </div>
                </div>

                <div class="form-group mt-4">
                    <input type="mobile_number" id="mobile_number" formControlName="mobile_number" class="form-control form-field" [ngClass]="{ 'is-invalid': submitted && f.mobile_number?.errors }" placeholder="Mobile Number" />
                    <div *ngIf="submitted && f.mobile_number.errors" class="invalid-feedback">
                        <div *ngIf="f.mobile_number.errors.required">mobile_number is required</div>
                    </div>
                </div>


                <div class="form-group mt-4">
                    <input id="name"  formControlName="name" class="form-control form-field" type="text" [ngClass]="{ 'is-invalid': submitted && f.name?.errors }" placeholder="name">
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">Part Name is required</div>
                    </div>

                </div>

                <div class="form-group mt-4">
                    <textarea type="text" id="other_requirement" formControlName="other_requirement" class="form-control form-field" [ngClass]="{ 'is-invalid': submitted && f.other_requirement?.errors }" placeholder="Other Requirements"></textarea>
                    <div *ngIf="submitted && f.other_requirement.errors" class="invalid-feedback">
                        <div *ngIf="f.other_requirement.errors.required">other_requirement is required</div>
                    </div>
                </div>

                <button class="btn from__button--floating" type="submit">Buy</button>
            </form>
        </div>
    </div>
</div>