.btnStyle .btn {
 
    margin-top: 0.4rem;
    padding: 0px;
    width: 6rem;
    height: 2.5rem;
    font-size: 1rem;
    background-color: white;
    color: #0D264C;
    border-radius: 5px;
    border-width: 2px;
    border-color: rgba(15, 129, 236, 0.2);
    -webkit-transition: all .3s cubic-bezier(.165, .84, .44, 1);
    -o-transition: all .3s cubic-bezier(.165, .84, .44, 1);
    transition: all .3s cubic-bezier(.165, .84, .44, 1);
}
.company-name{
    font-size: 3rem; 
    color:#0D264C;
    text-align: center; 
    text-shadow: 2px 2px rgba(15, 129, 236, 0.2);
}
.welcome-heading{
    font-size: 2.6rem;
    text-align: center;
     color:#0D264C;
     margin-top: 20%;
     margin-left: 1rem;
}
.btnStyle .btn:hover {
    background-color: rgba(15, 129, 236, 0.2);
    color: black;
    box-shadow: 5px 5px 10px #999;
}

@media only screen and (max-width: 600px) {
    .img-responsive {
        margin-left: 1.5rem !important;
    }
    .welcome-heading{
        margin-top: 45%;
    }
  
}