<div class="row">

    <div class="col-md-6" style="margin-top: 10%;align-items: center;">



        <h1 style="font-size: 2.6rem;text-align: center; color:#0D264C;margin-top: 20%;">Welcome!</h1>
        <p style=" font-size: 3rem; color:#0D264C;text-align: center; ">THE SHOCK MECHANICA</p>
        <p style="text-align: center;font-size: larger;color: black; ">Book your order for shockers service at reasonable price</p>
        <button class="btn ">Book Order!</button>
    </div>
    <div class="col-lg-6 ">
        <img src="../../../assets/gif.gif " class="img-responsive " style="width: 90%;height: 90%;margin-top:20%; " alt=" ">
    </div>
</div>


<div>
    <h4 class="header-text-tag ">
        Great Mechanica Platform
    </h4>
</div>
<div>
    <p class="header-description">
        Go with the world's best companies trust <br/> us for building and servicing your <br/> ATV's shockers
    </p>
</div>