<div class="container-fluid">


<div class="row">

    <div class="col-md-6" style="margin-top: 10%;">



        <h1 class = "welcome-heading">Welcome!</h1>
        <p style=" font-size: 3rem; color:#0D264C;text-align: center; ">THE SHOCK MECHANICA</p>
        <p style="text-align: center;font-size: larger;color: black; ">Book your order for shockers service at reasonable price</p>
            <div class="btnStyle" style="text-align: center;" >
                <button class = "btn btn-center">Book Order!</button>
            </div>
      
    </div>
    <div class="col-md-6 ">
        <img src="../../../assets/gif.gif " class="img-responsive " style="width: 90%;height: 90%;margin-top:20%; " alt=" ">
    </div>
</div>
</div>

