<div class="container mt-5">
    <div class="row">
        <div class="col-sm-4 mt-2">
            <div class="card" style="width: 17rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">TSM Product</h5>
                  <p class="card-text">Available in different thickness and side range. Thin metal discs stacked together in various combinations is used for fine tuning.</p>
                  <a  class="btn btn-primary">Shim Stacks</a>
                </div>
              </div>
        </div>
        <div class="col-sm-4  mt-2">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">TSM Product</h5>
                  <p class="card-text">Long lasting oil seals and dust stoppers to provide low friction during operation and keep away the dust out.</p>
                  <a  class="btn btn-primary">Fox Oil Seals</a>
                </div>
              </div>
        </div>
        <div class="col-sm-4 mt-2">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">TSM Product</h5>
                  <p class="card-text">Makes spring rate adjustments on the air sleeve a simple task with max air pressure of 150 psi.</p>
                  <a class="btn btn-primary">Shock Air Pump</a>
                </div>
              </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-4 mt-2">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a class="btn btn-primary">Product name</a>
                </div>
              </div>
        </div>
        <div class="col-sm-4 mt-2">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a class="btn btn-primary">Product name</a>
                </div>
              </div>
        </div>
        <div class="col-sm-4 mt-2">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a  class="btn btn-primary">Product name</a>
                </div>
              </div>
        </div>
    </div>
</div>
