.btn {
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 1.4rem;
    color: #0D264C !important;
    width: 100%;
    font-weight: 600;
    margin-top: 2rem;
    font-family: sb-sans, -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
    line-height: 40px;
    padding: 0 24px;
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    background: rgba(15, 129, 236, 0.2) !important;
    border-radius: 6px !important;
}
.card-text{
    min-height: 90px;
    max-height: 90px;
}