<h1 class="team-heading">
    Meet our team</h1>
<p class="team-heading-desc">We are a bunch of dreamers, designers, and futurists. We are high on collaboration,<br> low on ego, and take our happy hours seriously.We take out time to <br>celebrate our team's successes–and we celebrate often.</p>
<div class="carousel" data-flickity='{ "wrapAround": true, "autoPlay": true, "imagesLoaded":true }'>
    <div class="carousel-cell">
        <div class="card border-white ">
            <div class="card-header" style="background: #fff;border-radius: 7px;box-shadow: 0 9px 30px rgb(7 65 210 / 10%);">
                <div class="row">
                    <div class="col-3">
                        <img src="../../../assets/rahul.jpg" alt="my image">
                    </div>
                    <div class="col-9">
                        <h3>Rahul Sindhu1</h3>
                        <h5 class="text-primary">German Expert</h5>
                        <p>
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                    </div>
                </div>
            </div>

        </div>
       </div>
    <div class="carousel-cell">
        <div class="card border-white">
            <div class="card-header" style="background: #fff;border-radius: 7px;box-shadow: 0 9px 30px rgb(7 65 210 / 10%);">
                <div class="row">
                    <div class="col-3">
                        <img src="../../../assets/rahul.jpg" alt="my image">
                    </div>
                    <div class="col-9">
                        <h3>Rahul Sindhu2</h3>
                        <h5 class="text-primary">German Expert</h5>
                        <p>
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                    </div>
                </div>
            </div>

        </div>
       </div>
    <div class="carousel-cell">
        <div class="card border-white">
            <div class="card-header" style="background: #fff;border-radius: 7px;box-shadow: 0 9px 30px rgb(7 65 210 / 10%);">
                <div class="row">
 
                    <div class="col-3">
                        <img src="../../../assets/rahul.jpg" alt="my image">
                    </div>
                    <div class="col-9">
                        <h3>Rahul Sindhu3</h3>
                        <h5 class="text-primary">German Expert</h5>
                        <p>
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                    </div>
                </div>
            </div>

        </div>   </div>
        <div class="carousel-cell">
            <div class="card border-white">
                <div class="card-header" style="background: #fff;border-radius: 7px;box-shadow: 0 9px 30px rgb(7 65 210 / 10%);">
                    <div class="row">
     
                        <div class="col-3">
                            <img src="../../../assets/rahul.jpg" alt="my image">
                        </div>
                        <div class="col-9">
                            <h3>Rahul Sindhu3</h3>
                            <h5 class="text-primary">German Expert</h5>
                            <p>
                                Some quick example text to build on the card title and make up the bulk of the card's content.
                            </p>
                        </div>
                    </div>
                </div>
    
            </div>   </div>
            <div class="carousel-cell">
                <div class="card border-white">
                    <div class="card-header" style="background: #fff;border-radius: 7px;box-shadow: 0 9px 30px rgb(7 65 210 / 10%);">
                        <div class="row">
         
                            <div class="col-3">
                                <img src="../../../assets/rahul.jpg" alt="my image">
                            </div>
                            <div class="col-9">
                                <h3>Rahul Sindhu3</h3>
                                <h5 class="text-primary">German Expert</h5>
                                <p>
                                    Some quick example text to build on the card title and make up the bulk of the card's content.
                                </p>
                            </div>
                        </div>
                    </div>
        
                </div>   </div>
  </div>
 