<div class="container">
    <div class="col-sm">
        <div class="row-sm-2 login_header">
            Register new admin
        </div>
        <div class="row-sm-1 login_sub_heading">
            Grow TSM!
        </div>
        <div class="row-sm-9">
            <form [formGroup]="serviceForm" (ngSubmit)="onSubmit(serviceForm)">
                <div class="form-group mt-4">
                    <input id="name" formControlName="name" class="form-control form-field" type="text" [ngClass]="{ 'is-invalid': submitted && f.name?.errors }" required placeholder="Name">
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">Name is required</div>
                    </div>

                </div>
                <div class="form-group mt-4">
                    <input id="email" formControlName="email" class="form-control form-field" type="email" [ngClass]="{ 'is-invalid': submitted && f.email?.errors }" required placeholder="Email">
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                    </div>
                </div>
                <div class="form-group mt-4">
                    <input id="mobile_number" formControlName="mobile_number" class="form-control form-field" type="text" [ngClass]="{ 'is-invalid': submitted && f.mobile_number?.errors }" required placeholder="Mobile Number">
                    <div *ngIf="submitted && f.mobile_number.errors" class="invalid-feedback">
                        <div *ngIf="f.mobile_number.errors.required">mobile_number is required</div>
                         <div *ngIf="f.mobile_number.errors.minlength">Password must be at least 6 characters</div>
                    </div>

                </div>
                <div class="form-group mt-4">
                    <input type="text" id="shocker_brand" formControlName="shocker_brand" class="form-control form-field" [ngClass]="{ 'is-invalid': submitted && f.shocker_brand?.errors }" required placeholder="Shocker Brand" />
                    <div *ngIf="submitted && f.shocker_brand.errors" class="invalid-feedback">
                        <div *ngIf="f.shocker_brand.errors.required">shocker_brand is required</div>
                    </div>
                </div>

                <div class="form-group mt-4">
                    <input type="number" id="number_of_pairs" formControlName="number_of_pairs" min="0" max="100" class="form-control form-field" [ngClass]="{ 'is-invalid': submitted && f.number_of_pairs?.errors }" required placeholder="Number Of Pairs" />
                    <div *ngIf="submitted && f.number_of_pairs.errors" class="invalid-feedback">
                        <div *ngIf="f.number_of_pairs.errors.required">number_of_pairs is required</div>
                    </div>
                </div>


                <div class="form-group mt-4">
                    <input type="text" id="type_of_service" formControlName="type_of_service" class="form-control form-field" [ngClass]="{ 'is-invalid': submitted && f.type_of_service?.errors }" required placeholder="Type Of Service" />
                    <div *ngIf="submitted && f.type_of_service.errors" class="invalid-feedback">
                        <div *ngIf="f.type_of_service.errors.required">type_of_service is required</div>
                    </div>
                </div>



                <div class="form-group mt-4">
                    <textarea type="textarea" id="problems_facing" formControlName="problems_facing" class="form-control form-field" [ngClass]="{ 'is-invalid': submitted && f.problems_facing?.errors }" required placeholder="Problems Facing" ></textarea>
                    <div *ngIf="submitted && f.problems_facing.errors" class="invalid-feedback">
                        <div *ngIf="f.problems_facing.errors.required">problems_facing is required</div>
                    </div>
                </div>

                <button class="btn from__button--floating" type="submit">Submit Order</button>
            </form>
        </div>
    </div>
</div>