
   <nav class="navbar navbar-light sticky-top bg-white navbar-expand-lg">
            <a class="navbar-brand">
                <img src="../../assets/logo.jpg" width="140px" height="150px" alt="logo">
            </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#mynavbar">
                <span class = "navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-items"><a class="nav-link" routerLink="">Home</a></li>
                    <li class="nav-items"><a class="nav-link">Products</a></li>
                 
                    <li class="nav-items"><a class="nav-link" routerLink="service-order">Services</a></li>
                    <li class="nav-items"><a class="nav-link">Blogs</a></li>
                    <li class="nav-items"><a class="nav-link" >About us</a></li>
                    <li class="nav-items">  <div class="btnStyle" >
                        <button class = "btn btn-center" (click)= "redirectToLogin()">Login</button>
                    </div>
                </li>
                </ul>
            </div>
        </nav>
    
  
   <!-- <li class="nav-items dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        Login
                    </a>
                        <div class="dropdown-menu">
                            <a href="" class="dropdown-item">Link1</a>
                            <a href="" class="dropdown-item">Link2</a>
                            <a href="" class="dropdown-item">Link3</a>
                        </div>
                    </li> -->