<div class="col-sm" style="background-color: aliceblue">
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2 mt-3" type="search" placeholder="Search orders..." aria-label="Search">
        <button class="btn btn-outline mt-4" type="submit">Search</button>
    </form>

    <div class="table-responsive1">
        <table class="table table-light table-bordered table-responsive">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>College Name</th>
                    <th>Service type</th>
                    <th>Description</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Ajay Kumar</td>
                    <td>ajayfageria1@gmail.com</td>
                    <td>7982019022</td>
                    <td>Maharaja Agrasen Institute of technology</td>
                    <td>Socker service</td>
                    <td>Description of the service,please elloberate this.
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Ajay Kumar</td>
                    <td>ajayfageria1@gmail.com</td>
                    <td>7982019022</td>
                    <td>Maharaja Agrasen Institute of technology</td>
                    <td>Socker service</td>
                    <td>Description of the service,please elloberate this.
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Ajay Kumar</td>
                    <td>ajayfageria1@gmail.com</td>
                    <td>7982019022</td>
                    <td>Maharaja Agrasen Institute of technology</td>
                    <td>Socker service</td>
                    <td>Description of the service,please elloberate this.
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Ajay Kumar</td>
                    <td>ajayfageria1@gmail.com</td>
                    <td>7982019022</td>
                    <td>Maharaja Agrasen Institute of technology</td>
                    <td>Socker service</td>
                    <td>Description of the service,please elloberate this.
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Ajay Kumar</td>
                    <td>ajayfageria1@gmail.com</td>
                    <td>7982019022</td>
                    <td>Maharaja Agrasen Institute of technology</td>
                    <td>Socker service</td>
                    <td>Description of the service,please elloberate this.
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Ajay Kumar</td>
                    <td>ajayfageria1@gmail.com</td>
                    <td>7982019022</td>
                    <td>Maharaja Agrasen Institute of technology</td>
                    <td>Socker service</td>
                    <td>Description of the service,please elloberate this.
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Ajay Kumar</td>
                    <td>ajayfageria1@gmail.com</td>
                    <td>7982019022</td>
                    <td>Maharaja Agrasen Institute of technology</td>
                    <td>Socker service</td>
                    <td>Description of the service,please elloberate this.
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Ajay Kumar</td>
                    <td>ajayfageria1@gmail.com</td>
                    <td>7982019022</td>
                    <td>Maharaja Agrasen Institute of technology</td>
                    <td>Socker service</td>
                    <td>Description of the service,please elloberate this.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>